$background1: #1F2430;
$background2: #1C212B;
$foreground1: #CCCAC2;
$foreground2: #B8CFE680;
$foreground-hover: #637599;
$foreground-prompt1: #FFD173;
$foreground-prompt2: #D5FF80;
$foreground-tree: #8A91992E;
$foreground-greet: #FFDFB3;
$foreground-name: #DFBFFF;
$foreground-time: #5CCFE6;

html {
    background: $background1;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    font-family: "Ubuntu";
}

body {
    background: $background1;
    display: flex;
    margin: 1em;
    padding: 1em;
}
 
a {
    color: $foreground2;
    text-decoration: none;
    font-size: 1em;
}

a:focus,
a:hover {
    color: $foreground-hover;
}

nav {
    display: inline-block;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-align: left;
}

li {
    color: $foreground-tree;
    font-size: 1.2em;
    text-align: left;
}

p {
    color: $foreground1;
    font-size: 1.2em;
    margin: 0;
}

.term {
    background: $background2;
    padding: 1.5em 15em 1.5em 1.5em;
    border-radius: 8px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    height: auto;
}

.prompt1 {
    color: $foreground-prompt1;
}

.prompt2 {
    color: $foreground-prompt2;
}

span#time {
    color: $foreground-time;
}

.name {
    color: $foreground-name;
}

.greet {
    color: $foreground-greet;
}

img {
    height: 333px;
    border-radius: 8px;
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: middle;
    background: $background2;
    padding: 7px;
}
